/*
    MENU
============*/

.menu {
    width: 200px;
    background: $color_basic3;
    position: fixed;
    top: 0;
    left: -200px;
    bottom: 0;
    z-index: 999;
    transition: all ease .3s;


   li {
       list-style: none;

       a {
           color: $white;
           &:hover {
               text-decoration: underline;
           }
       }
   }

   .actionMenu {
       display: block;
       position: absolute;
       top: 0;
       right: -50px;
       background: url("../../images/menu.png") no-repeat 0 0;
       width: 50px; height: 50px;

   }

}

.activeMenu {
    .menu {
        left: 0;
    }
}

.touch {
    .content {
        left: 0;
        transition: all ease .3s;
    }
    .activeMenu {
        .content {
            position: relative;
            left: 200px;
        }

        .menu {
            left: 0;
        }
    }
    .menu {
        position: fixed;
        float: left;
        left: -200px;
        &.active {
            left: 0;
        }
    }
}