/*
    HOME
============*/

.edito {
    margin-top: 300px;
    padding-top: 20px;
    background: $white;
    position: relative;

    p {
        word-wrap: break-word;
    }

}

@media #{$small-only} {

    .edito {
        .small-4 {
            @include grid-column($collapse: true);
        }
    }
}